.community{
     background-color:white;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    top:45px;
    overflow:hidden;
    animation-name: animateCommunity;
    animation-duration: 1.5s;  
    
}
@keyframes animateCommunity{
    from{height:45px}
    to{height:1000px}   
}

.community span{
    float: right;
    padding-top: 30px;
    padding-right: 60px;
    cursor: pointer;
}
.community-content{
    float: left;
    display: flex;
    padding-top: 4%;
    padding-left: 10%;
    font-family: "Nunito Sans", sans-serif;
    height:267px;
    
    
}
.community-content ul{
    margin-top:0px; 
    list-style-type:none;
    font-size: 14px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.637);
    letter-spacing: 0.3px;
    
}
.community-content ul li{
    padding-top: 11px;
    font-size: 15px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.658);
    letter-spacing: 0.3px;
}
.community-content_img_container{
    padding-left:25px;

}
.community-content_img_container img{
    width: 90%;

}
.community-content #border-one{
    border-top: 2px solid rgb(58, 151, 94);
    padding-top: 18px;
    margin-top: 18px;
    
}
.community p{
    float: left; 
    font-size: 32.06px;
    padding-left:12.5%;
    color:rgb(25, 102, 76);
    margin-top: 15px;
}
