/* .TopNavbar{
  display:grid;
  grid-template-columns: 46% 33% 23%;
}
.Header{
    background-color: #f2f2f2;
    
}
.primary li{
    display: inline; 
}
 .primary li a{
    display:inline;
    padding: 18px;
   
    text-decoration:  none ;
    color: #068765;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 0.56px;

    
}
.secondary li{
    display:inline;
}
.tertiary{
    background-color: #068765;
    
}
.tertiary li{
    display:inline;
}
.tertiary span{
    color: #f2f2f2;
}
 .secondary span{
    color:#20b389;
}
.secondary li a{
    display:inline;
    padding: 18px;
    text-decoration:  none ;
    color:#212529;
    font-family: "Nunito Sans", sans-serif;
    font-size: 15.96px;
}
.tertiary li a{
    display:inline;
    padding: 18px;
    text-decoration: none ;
    color:#f5f4f4;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 0.56px
    
}
.container{
    height: 45.04px;
}
.priom

.tertiary {
  
} */
.TopNavbar{
    display:flex;
    background-color: #f2f2f2;
    
    
}
.TopNavbar li{
    display: inline-block;

}
.TopNavbar ul{
    margin:11px;
    padding-left:0px;
}
.primary {
    width: 44%;
    box-sizing: border-box;
}
.secondary{
    width: 38%;
    box-sizing: border-box;
}
.tertiary{
    
    width: 19%;
    background-color: #068765;
    box-sizing: border-box;
}
.primary ul{
    padding-left: 0px;
}
.secondary ul{
    padding-left: 85px;
}
.primary li a{
    color: #068765;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 0.56px;
    padding-left: 45px;
    text-decoration: none;
}
.primary #Special{
    font-weight: 600;
}
.secondary li a{
    color:#212529ce;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14.96px;
    padding-right: 15px;
    text-decoration: none;
    font-size: 15.96px;
    letter-spacing: 0.36px;
}
 .secondary #Special{
    color: #050505be;font-weight: 600;
}
.secondary span{
    color:#20b389;
    padding-right: 15px;
}
.tertiary li a{
    
    padding: 6px;
    text-decoration: none ;
    color:#f5f4f4;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 0.56px;
    font-weight: 550;
}
.tertiary span{
    color: #f2f2f2;
    padding-left: 10px;
}
.BottomNavbar{
    margin :12px;
}
.BottomNavbar img{
    padding-left: 40px;
    float: left;
}
.BottomNavbar #logo{
    display: none;
}
.BottomNavbar #menubars{
    display: none;
}
.BottomNavbar ul{
    float: left; 
    margin-top: 9px;
    margin-left: 21px;
    
}
.BottomNavbar li{
    display: inline;
    padding-right: 50px;
}
.BottomNavbar li a{
    color: #212529e3;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    letter-spacing: 0.56px;
    text-decoration: none;
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
    
    .TopNavbar{
        display: none;
    }
   .BottomNavbar ul{
       display: none;
   }
   .BottomNavbar img{
    width: 65.94px;
    height:24.31px;
    float: left;
    margin:0;
    padding-left: 16px; 
}
.BottomNavbar #menubars{
    float: left;
    display: inline;
    font-size: 23px;
}
.BottomNavbar #logo{
    display: inline;
    float:right;
    padding-right: 20px;
    font-size: 23px;
}
}