.modal{
  position: fixed;
  z-index: 1;
  background-color:rgba(0,0,0,0.4); 
  height: 100%;
  width: 100%;
  top: 0;
  padding-top: 7%;
}
.modal-content{
  position: relative;
  background-color: white;
  height: 60%;
  width: 37%;
  margin: auto;
  padding: 0;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal-content span{
  float: right;
  padding-top: 8px;
  padding-right: 20px;
  cursor: pointer;
}
.modal-body{
  padding-top: 15px;
  padding-left: 40px;
  padding-right: 40px;
}
.modal-body #heading{
  font-size: 25px;
  font-weight: 500;
}