.slider{
    width:100%;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    display: flex;
    align-items: center;
    overflow: hidden;
    
}
.slide{
    height: 400px;
    min-width: 100%;
    transition: .2s;
    overflow: hidden;
}
#goLeft{
    position: absolute;
    left :0;
    width: 5%;
    height:10%;
    font-size: 25px;
    opacity: 70%;   
}

#goRight{
    position: absolute;
    right:0;
    width: 5%;
    height:10%;
    font-size: 25px;
    opacity: 70%;
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px){
    .slider{
        width: auto;
    }
    .slide{
        min-width: 768;
    }
}