/* .outer_container{

}
.inner_container{
    margin: auto auto; 
    width:100%;
    background-color: #f2f2f2;
    height: 45px;;
}
.inner_container ul{
    margin: 4px;
    padding: 0%;
}
.inner_container li {
    display: inline-block;
    padding-top:5px; 
    
}
.inner_container nav {
    display: inline-block;
}
.navbar2 #outer_middle-nav {
}
.navbar2{
   float: right;
} 
.navbar2 ul{
    margin-right:20px; 
}
.navbar2 span{
    margin-right: 5px;
}
.navbar2 #middle-nav li{
  margin-right: 25px;
}
.navbar2 #middle-nav span{
    margin-right: 25px;
  }
.inner_container #tertiary-nav li{
    margin-right:5px;

}
.inner_container #primary-nav li{
    margin-left:35px; 
}

.navbar2 ul #tertiary-nav{
   
 }

.inner_container #primary-nav li a{
    color: #068765;
    text-decoration: none;
    font-size: 90%;
    letter-spacing:0.3px;
}
.navbar2 #middle-nav li a{
    color:#3a3a3a;
    text-decoration: none;
}
.navbar2 #Special{
    color: #050505be;
    font-weight: 500;   
}

.navbar2 #tertiary-nav li a{
    text-decoration: none;
    color:#f5f4f4;
    letter-spacing: 0.56px;
    font-weight: 550;
   
    
} */


.outer_container{
    width: 100%;
    float: left;
    text-align: right;
}
.inner_container{
    width: 100%;
    margin-right:auto;
    margin-left:auto;
    padding-right:16px;
    padding-left: 16px;
    background-color: #f2f2f2;
      
}
.primary_nav{
    float: left;
    display: block;
}
.secondary_nav{
    display: inline-block;
    margin-top: .86rem;
    margin-left: -7.14rem;

}
.tertiary_nav{
    display: inline-block;
    background-color:#068765;
    margin-left: 5.86rem;
    position: relative;
    min-width: 12rem;
}
.tertiary_nav:before{
    content:"";
    border-left: 45px solid transparent;
    border-bottom: 45px solid #068765 ;
    height: 43px;
    position: absolute;
    left:-45px;
    top: -50px;
}
.primary_nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.secondary_nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.tertiary_nav ul{
    list-style: none;
    margin: 0 0 0 .43rem;
    padding: 0;
}

.primary_nav ul li{
    list-style: none;
    display: inline-block;
    padding: .86rem 1.29rem .43rem;
}
.primary_nav ul li:first-child{
    padding-left: 0;
}
.secondary_nav ul li{
    list-style: none;
    display: inline-block;
    padding: 0 .86rem;
}
.tertiary_nav ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 0 1.51rem;
}

.primary_nav ul li a{
    color: #068765;
    text-decoration: none;
    letter-spacing: .04rem;
    font-size: 1rem;
    display: inline-block;
}
.primary_nav ul li:first-child a{
    font-weight: 500;
}
.secondary_nav ul li a{
    color: #068765;
    text-decoration: none;
    font-size: 1.14rem;
    line-height: 1.43rem;
}
.secondary_nav ul li:first-child a{
    font-weight: 500;
}
.tertiary_nav ul li a{
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    margin: .53rem 0;
    display: block;
    letter-spacing: .04rem;
    font-weight: bold;
    position: relative;
}
.tertiary_nav ul li a:before{
    content:"\f039";
}