 .carousel {
	height: auto;
	display: flex;
	width: 100%;
}
/* .carousel img{
    width: 100%;
    height: auto;
    opacity: .5;
    animation-name: fade;
    animation-duration: 1.5s;
    transition:opacity 1200ms linear; 
}*/
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    transition:opacity 1200ms linear;
  }
@keyframes fade{
    from {opacity: 0.7}
    to{opacity: 1}
    
} 
.image-slide2 {
    width: 100%;
    opacity: 1;
	transition:opacity 1200ms linear;
}

.slide-arrow {
	color: #068765;
	cursor: pointer;
	font-size: 2rem;
	position: absolute;
    top: 47%;
    width: 5%;
    height:9%; opacity: 50%;
    background-color:white;
    text-align: center; 
    padding-top: 9px;  
}

.slide-arrow.right {
	right: 0; 
}

.slide-arrow.left {
	left: 0;
}
@media only screen and (max-width: 1017px){
    .slide-arrow{
        display: none;
    }
    .carousel{

    }
    .image-slide{

    }
}