 .carousel {
	height: 50%;
	display: grid;
	width: 100%;
}

.image-slide {
	height: 40%;
	width: 100%;
	transition: background-image 1200ms linear;
}

.slide-arrow {
	color: #068765;
	cursor: pointer;
	font-size: 2rem;
	position: absolute;
    top: 47%;
    width: 5%;
    height:9%; opacity: 50%;
    background-color:white;
    text-align: center; 
    padding-top: 9px;
}

.slide-arrow.right {
	right: 0;
}

.slide-arrow.left {
	left: 0;
}
